:root{
    --val: #FFFFE3;
    --red: #FF6363;
}

.valentine{
    background-color: #10100E;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.valentine h1{
    font-family: 'Telma';    
    font-size:128px;
    color: var(--red);
    margin:0;
    margin-bottom:40px;
    transition: all 0.5s;

}

.valentine h2{
    font-family:'Boska';
    font-size:96px;
    color: var(--val);
    transition: all 0.5s;

}

.valentine p{
    font-family:'Boska';
    font-size:30px;
    color: var(--val);
    margin:0;
    transition: all 0.5s;

}

.choices{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap:40px;
    transition: all 0.5s;

}

.choices div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    transition: all 0.5s;

}


.hidden{
    opacity:0 !important;
  }


  .no{
    transform:scale(0.4);
  }


.red{
    background-color: var(--red);
}