@font-face {
    font-family: 'Satoshi';
    font-weight: bold;
    src: url('./Satoshi-Black.otf');
}

@font-face {
    font-family: 'Satoshi';
    font-weight: normal;
    src: url('./Satoshi-Bold.otf');
}

@font-face {
    font-family: 'Boska';
    font-weight: lighter;
    src: url('./Boska-Bold.otf');
}

@font-face {
    font-family: 'Telma';
    font-weight: lighter;
    src: url('./Telma-Bold.otf');
}